header.navigation
  ul.logo
    a(href='/home') Thons
  ul.navigation-control
    li
      a(href='/blog') Blog
    li
      a(href='/shop') shop
    li
      a(href='/sontact') Contact
    li
      a(href='/shoppingBag') Shopping Bag
  ul.menu
    a(href='/menu')
      i.bx.bx-menu

