div.food-image-show
  a(href='/aBowl')
    .image
      span
        img(src='./image/veg_salad.jpg' alt='we ate them')
      span.image_intro
        h2  A Bowl 
        p
          | this is Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo omnis eaque sint
          | perspiciatis? Magni itaque ad, cupiditate dolorum perferendis at!
